.full-screen {
  position: absolute;
  width: 80%;
  height: 95%;
  background-color: #fff;
}

.story {
  position: absolute;
  left: 35%;
  top: 2%;
  border-radius: 15px;
}

.close-icon {
  position: absolute;
  right: 2%;
  top: 1%;
  cursor: pointer;
}
